# Media generada (pesada)
discrete_maths/media/
*.mp4
*.wav
# Permitir thumb para README
!docs/thumb_11.jpg
*.mp3
!discrete_maths/animaciones/modulo1/voiceovers/*.mp3
__pycache__/
*.pyc
.DS_Store
venv/
.pyenv/
